[push]
    default = current

[user]
	name = ZoomQuiet
	email = zoomquiet+git@gmail.com

[core]
	excludesfile = /Users/zoomq/.gitignore_global
	autocrlf = true
	#autocrlf = true # kill windows line END
    #editor = vim

#   190103 101.camp
[log]
    date = format:%y%m%d %H%M%S

[alias]
    st = status
    re = remote
    br = branch
    ci = commit
    co = checkout
    pu = push
    pl = pull
    del = rm

    brdr = push origin --delete
    brd = branch -D

    f = fetch
    rvl = commit --amend

    ls = ls-files
    lt = ls-tree
    cat = cat-file
    
    l = log
    l1 = log --pretty=oneline
    lgs = log --graph --pretty=oneline --abbrev-commit
    ll = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(magenta)%d%Creset %s \n\t%cn %C(cyan)%cr%Creset' --date=relative --abbrev-commit

    # https://docs.gitignore.io/install/command-line
    #   git config --global alias.ignore '!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi'
    ig = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

    #   https://github.com/ahmadawais/Emoji-Log/
    # Git Commit, Add all and Push — in one step.
    cap = "!f() { git add .; git commit -m \"$@\"; git push; }; f"

    # NEW.
    new = "!f() { git cap \"📦 NEW: $@\"; }; f"
    # IMPROVE.
    imp = "!f() { git cap \"👌 IMPROVE: $@\"; }; f"
    # FIX.
    fix = "!f() { git cap \"🐛 FIX: $@\"; }; f"
    # RELEASE.
    rlz = "!f() { git cap \"🚀 RELEASE: $@\"; }; f"
    # DOC.
    doc = "!f() { git cap \"📖 DOC: $@\"; }; f"
    # TEST.
    tst = "!f() { git cap \"✅ TEST: $@\"; }; f"

    # DEBUG.
    dbg = "!f() { git cap \"💊 DEBUG: $@\"; }; f"
    # APPEND.
    apd = "!f() { git cap \"📎 APPEND: $@\"; }; f"
    # BACKUP.
    bak = "!f() { git cap \"♻️ BACKUP: $@\"; }; f"
    # PUBLISH.
    pub = "!f() { git cap \"🛎 PUBLISH: $@\"; }; f"


[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
	ui = true
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    commit = yellow
    whitespace = normal red

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    updated = green
    nobranch = magenta

#normal, black, red, green, yellow, blue, magenta, cyan, or white
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	conflictstyle = diff3








